# Lists

In [2]:
thisList = ["apple", "banana", "cherry"]
alsoThis = list(("pen", "on", "table")) # note the double round-brackets
print(thisList)
print(alsoThis)

#   List item
print(thisList[0])
print(thisList[1])
print(thisList[2])

#   Order-Changeable
"""
append()	#	Adds an element at the end of the list
clear()	#	Removes all the elements from the list
copy()	#	Returns a copy of the list
count()	#	Returns the number of elements with the specified value
extend()	#	Add the elements of a list (or any iterable), to the end of the current list
index()	#	Returns the index of the first element with the specified value
insert()	#	Adds an element at the specified position
pop()	#	Removes the element at the specified position
remove()	#	Removes the item with the specified value
reverse()	#	Reverses the order of the list
sort()	#	Sorts the list
"""

['apple', 'banana', 'cherry']
['pen', 'on', 'table']
apple
banana
cherry

'\nappend()\t#\tAdds an element at the end of the list\nclear()\t#\tRemoves all the elements from the list\ncopy()\t#\tReturns a copy of the list\ncount()\t#\tReturns the number of elements with the specified value\nextend()\t#\tAdd the elements of a list (or any iterable), to the end of the current list\nindex()\t#\tReturns the index of the first element with the specified value\ninsert()\t#\tAdds an element at the specified position\npop()\t#\tRemoves the element at the specified position\nremove()\t#\tRemoves the item with the specified value\nreverse()\t#\tReverses the order of the list\nsort()\t#\tSorts the list\n'

In [3]:
#   Allow Duplicates
anotherList = ["apple", "banana", "cherry", "apple", "cherry"]
print(anotherList)

#you need to use the set() sequence
print(list(set(anotherList)))

['apple', 'banana', 'cherry', 'apple', 'cherry']
['cherry', 'banana', 'apple']

In [4]:
#   List Length
print(len(anotherList))

5

In [5]:
#   List item
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list0 = ["abc", 34, True, 40, "male"]
print(list1)
print(list2)
print(list3)
print(list0)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]
['abc', 34, True, 40, 'male']

In [6]:
#   Add list item
list0.append(list1[0])

print(list0)

['abc', 34, True, 40, 'male', 'apple']

In [7]:
#   Append Vs Extend
list0 = ["abc", 34, True, 40, "male"]
list0.append(list1) #nested lists

print(list0)

list0 = ["abc", 34, True, 40, "male"]
list0.extend(list1)

print(list0)

['abc', 34, True, 40, 'male', ['apple', 'banana', 'cherry']]
['abc', 34, True, 40, 'male', 'apple', 'banana', 'cherry']

In [8]:
#   Append Vs Insert
list0 = ["abc", 34, True, 40, "male"]
list0.append(list1[0])

print(list0)

list0 = ["abc", 34, True, 40, "male"]
list0.insert(1, list1[0])

print(list0)

['abc', 34, True, 40, 'male', 'apple']
['abc', 'apple', 34, True, 40, 'male']

In [9]:
#   Remove from a list

#Using the item (only if it's present)
aList = ["A", "E", "I", "O", "U", "Y"]
aList.remove("O")
print(aList)
#list.remove("B")
#>ValueError: aList.remove(x): x not in list

#Using the index
aList.pop(1)
print(aList)

#Delete the entire list
delList = ["List", "to", "delete"]
print(delList)
del delList
#print(delList)
#>NameError: name 'delList' is not defined

#Clear the list
aList.clear()
print(aList)

#list.pop(1)
#>IndexError: pop from empty list

['A', 'E', 'I', 'U', 'Y']
['A', 'I', 'U', 'Y']
['List', 'to', 'delete']
[]

In [10]:
#   Copy a List

listX = list0   # listX isn't a copy but a reference

print(listX)

list0.append("Hello!!")

print(listX)

print("-----------------")

listX = list0.copy()

list0.remove("abc")

print(list0)
print(listX)

print("-----------------")

listY = list(list0)

list0.remove("apple")

print(list0)
print(listY)

['abc', 'apple', 34, True, 40, 'male']
['abc', 'apple', 34, True, 40, 'male', 'Hello!!']
-----------------
['apple', 34, True, 40, 'male', 'Hello!!']
['abc', 'apple', 34, True, 40, 'male', 'Hello!!']
-----------------
[34, True, 40, 'male', 'Hello!!']
['apple', 34, True, 40, 'male', 'Hello!!']

# Dictionaries

In [12]:
#		Dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

#		Dictionary values
print(thisdict["brand"])    #select a specific value using the key

"""
clear()	#	Removes all the elements from the dictionary
copy()	#	Returns a copy of the dictionary
fromkeys()	#	Returns a dictionary with the specified keys and value
get()	#	Returns the value of the specified key
items()	#	Returns a list containing a tuple for each key value pair
keys()	#	Returns a list containing the dictionary's keys
pop()	#	Removes the element with the specified key
popitem()	#	Removes the last inserted key-value pair
setdefault()	#	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	#	Updates the dictionary with the specified key-value pairs
values()	#	Returns a list of all the values in the dictionary
"""

Ford

"\nclear()\t#\tRemoves all the elements from the dictionary\ncopy()\t#\tReturns a copy of the dictionary\nfromkeys()\t#\tReturns a dictionary with the specified keys and value\nget()\t#\tReturns the value of the specified key\nitems()\t#\tReturns a list containing a tuple for each key value pair\nkeys()\t#\tReturns a list containing the dictionary's keys\npop()\t#\tRemoves the element with the specified key\npopitem()\t#\tRemoves the last inserted key-value pair\nsetdefault()\t#\tReturns the value of the specified key. If the key does not exist: insert the key, with the specified value\nupdate()\t#\tUpdates the dictionary with the specified key-value pairs\nvalues()\t#\tReturns a list of all the values in the dictionary\n"

In [13]:
#		Duplicate keys not allowed
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [14]:
#		Dictionary Items - Data Types
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [15]:
#		Get Keys
print(thisdict.keys())

#		Get Values
print(thisdict.values())

#		Get Items
print(thisdict.items())

dict_keys(['brand', 'electric', 'year', 'colors'])
dict_values(['Ford', False, 1964, ['red', 'white', 'blue']])
dict_items([('brand', 'Ford'), ('electric', False), ('year', 1964), ('colors', ['red', 'white', 'blue'])])

In [16]:
#		Check if Key Exists
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in your dictionary")

In [17]:
#		Nested Dictionaries
myFamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myFamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [18]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myNewFamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myNewFamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [19]:
#   Convert a Dict to a DataFrame
import pandas as pd

pd.DataFrame.from_dict(myNewFamily, orient='index')

          name  year
child1    Emil  2004
child2  Tobias  2007
child3   Linus  2011

In [20]:
pd.DataFrame.from_dict(myNewFamily, orient='columns')

     child1  child2 child3
name   Emil  Tobias  Linus
year   2004    2007   2011

In [25]:
#   Default Dictionaries

from collections import defaultdict #automatically create an entry for a new key and give it a default value

standardDict = {}
#standardDict["aKey"]
#>KeyError: 'aKey'

defaultDict = defaultdict(lambda: 'NaN')
defaultDict["aKey"]

'NaN'

# Array

In [26]:
import numpy as np

arr1D = np.array([1, 2, 3, 4, 5])
print(arr1D)

arr2D = np.array([[1, 2, 3], [4, 5, 6]])
print(arr2D)

arr3D = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
print(arr3D)

[1 2 3 4 5]
[[1 2 3]
 [4 5 6]]
[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]

In [27]:
#   Number of dimensions?
print(arr1D.ndim)
print(arr2D.ndim)
print(arr3D.ndim)

print("-----------------")

for dim1 in arr3D:
  print(dim1)
  for dim2 in dim1:
    print(dim2)
    for dim3 in dim2:
      print(dim3)

1
2
3
-----------------
[[1 2 3]
 [4 5 6]]
[1 2 3]
1
2
3
[4 5 6]
4
5
6
[[ 7  8  9]
 [10 11 12]]
[7 8 9]
7
8
9
[10 11 12]
10
11
12

In [22]:
#   Slicing arrays  {a[start:stop:step] is equivalent to a[slice(start, stop, step)]}
arr = np.array([1, 2, 3, 4, 5, 6, 7]) #Slice elements from index 4 to the end of the array
print(arr[4:])

arr = np.array([1, 2, 3, 4, 5, 6, 7]) #Return every other element from index 1 to index 5
print(arr[::2])

[5 6 7]
[1 3 5 7]

In [23]:
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]) #From the second element, slice elements from index 1 to index 4 (not included)
print(arr[1, 1:4])

arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]) #From both elements, return index 2
print(arr[0:2, 2])

arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]) #From the first and second, slice index 1 to index 4 (not included), this will return a 2-D array
print(arr[0:2, 1:4])

[7 8 9]
[3 8]
[[2 3 4]
 [7 8 9]]

In [28]:
#   Shape of an Array
print(arr1D.shape)
print(arr2D.shape)
print(arr3D.shape)

(5,)
(2, 3)
(2, 2, 3)

In [25]:
#   Reshape
#Reshape From 1-D to 2-D
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])
newarr = arr.reshape(4, 3)
print(newarr)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

In [32]:
#Reshape From 1-D to 3-D
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])
newarr = arr.reshape(2, 3, 2)
print(newarr)

[[[ 1  2]
  [ 3  4]
  [ 5  6]]

 [[ 7  8]
  [ 9 10]
  [11 12]]]

In [30]:
#Unknown Dimension
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])
newarr = arr.reshape(2, 2, -1)
print(newarr)

print(newarr.shape)

[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]
(2, 2, 2)

In [31]:
#Flattening the arrays
arr = np.array([[1, 2, 3], [4, 5, 6]])
newarr = arr.reshape(-1)
print(newarr)

[1 2 3 4 5 6]